@import './map.scss';
@import './marker.scss';
@import './popup.scss';
@import './filter.scss';
@import './search.scss';
@import './tab.scss';
@import './information.scss';
@import './nav.scss';

* {
  padding: 0;
  margin: 0;
}
.mapbox-logo {
  display: none !important;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.display {
  display: block;
}
.hidden {
  display: none;
}
ol {
  padding: 0 15px;
}
.el-select-dropdown.is-multiple.el-popper {
  .el-select-dropdown__item {
    padding: 0;
    @include text-overflow-show;
    span {
      padding-left: 20px;
    }
    &.selected {
      color: $orange-color;
      &.hover {
        background-color: rgba(255, 166, 0, 0.24);
        color: $orange-color;;
      }
      span {
        color: $orange-color;
      }
    }
    &.hover {
      background: rgba(255, 166, 0, 0.24);
      color: $orange-color;;
      .multiple-color-option {
        opacity: 1;
      }
    }
  }
}