@import './messageFooter.scss';
@import './information';
@import './search.scss';
@import './filter.scss';
@import './select.scss';

.mobile-search-content {
  width: 96%;
  padding: 0 2%;
  position: absolute;
  top: 10px;
  .mobile-search-input {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 4px;
    .el-input__inner {
      height: 49px;
      font-size: 15px;
      padding-left: 40px;
    }
    .el-input__prefix {
      margin-left: 5px;
      .el-icon-search {
        font-size: 17px;
      }
    }
  }
}